body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(246, 247, 192);
}

hr {
    width: 500px;
    height: 2px;
    background-color: black;
}


#board {
    width: 450px;
    height: 450px;
    /* background-color: gray; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 147px;
    height: 147px;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner {
    background-color: lightgray;
    color: rgb(0, 103, 9);
}


.horizontal-line {
    border-bottom: 3px solid black;
}

.vertical-line {
    border-right: 3px solid black;
}

button {
    background-color: rgb(0, 103, 9);
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;


}

/* For mobile devices */
@media screen and (max-width: 500px) {

    hr {
        width: 80%;
    }

    #board {
        width: 95%;
        height: auto;
        max-width: 300px;
    }

    .tile {
        width: 32%;
        height: 33vw;
        font-size: 6vw;
    }

    .wrap {
        padding: 10px;
    }

    .winner {
        font-size: 8vw;
    }

}